*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.header-sizer {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.header-top {
}

.header-links {
  display: flex;
  list-style: none;
}

.header-links li {
  text-decoration: none;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.header-content-left {
  flex: 0 1 auto;
}

.sign-up {
  color: #e5e7eb;
  background-color: #3882f6;
  font-weight: bold;
  padding: 6px;
  border-radius: 5px;
  border: none;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 400px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}

.testimonial {
  font-size: 36px;
  font-weight: light;
  font-style: italic;
}

.testimonial-credit {
  align-self: flex-end;
}

.card-container {
  display: flex;
  width: 250px;
  gap: 1rem;
  justify-content: center;
}

.card {
}

.card-box {
  border: #3882f6 solid 2px;
  border-radius: 15px;
  height: 150px;
  width: 150px;
}

.section-2 {
  background-color: #e5e7eb;
  height: 400px;
  display: flex;
  align-items: center;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.blue-box {
  background-color: #3882f6;
  width: 600px;
  height: 150px;
  border-radius: 15px;
  padding: 16px;
  margin: 30px 0;
  color: #e5e7eb;
  display: flex;
  align-items: center;
}

.blue-box-text {
  color: #e5e7eb;
}

.blue-box-subtext {
  color: #e5e7eb;
}

.blue-box-button {
  color: #e5e7eb;
  border: #e5e7eb solid 1px;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 6px;
  margin-left: auto;
}

.footer {
  height: 100px;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
