*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.header-sizer {
  display: flex;
  flex-direction: column;
  width: 850px;
}

.header-fix {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.header-top {
  display: flex;
  width: 850px;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 1rem;
}

.header-links li {
  text-decoration: none;
  list-style: none;
}

li a {
  text-decoration: none;
  list-style: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 200;
}

.header-content {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.header-top p {
  font-size: 24px;
  color: #f9faf8;
}

.header-content-left {
  flex: 0 1 auto;
}

.header-content-left h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.header-content-left p {
  font-size: 18px;
  color: #e5e7eb;
}

.sign-up {
  color: #e5e7eb;
  background-color: #3882f6;
  font-weight: bold;
  padding: 6px 18px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.image-placeholder {
  background-color: grey;
  width: 700px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  height: 400px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 500px;
  margin: 0 auto;
  padding: 30px 0;
}

.testimonial {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

.testimonial-credit {
  align-self: flex-end;
  font-weight: bold;
}

.card-container {
  display: flex;
  width: 250px;
  gap: 2rem;
  justify-content: center;
}

.card {
}

.card-box {
  border: #3882f6 solid 2px;
  border-radius: 15px;
  height: 150px;
  width: 150px;
}

.section-2 {
  background-color: #e5e7eb;
  height: 400px;
  display: flex;
  align-items: center;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.blue-box {
  background-color: #3882f6;
  width: 850px;
  height: 150px;
  border-radius: 15px;
  padding: 10px 90px;
  margin: 30px 0;
  color: #e5e7eb;
  display: flex;
  align-items: center;
}

.blue-box-text {
  color: #e5e7eb;
}

.blue-box-subtext {
  color: #e5e7eb;
}

.blue-box-button {
  color: #e5e7eb;
  border: #e5e7eb solid 1px;
  background-color: #3882f6;
  border-radius: 5px;
  padding: 6px 18px;
  margin-left: auto;
  cursor: pointer;
}

.footer {
  height: 100px;
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
